<p>my-component works!</p>
<h2>{{helloText}}</h2>
<!-- <button (click)="sayHello()">hello</button>
<select>
  <option *ngFor="let item of arr">{{item.name}}</option>
</select>
<ul>
  <li *ngFor="let item of arr" (click)="myFunction(item.name)">{{item.name}}</li>
</ul> -->
<!-- <div [formGroup]="profileForm">
  <input type="text" formControlName="firstName">
  <input type="text" formControlName="lastName">
</div>
<ol>
  <li>{{profileForm.value.firstName}}</li>
  <li>{{profileForm.value.lastName}}</li>
</ol> -->
<ul>
  <li *ngFor="let i of VALUES">{{i}}</li>
</ul>
